#course-form form {
    width: 50%;
}

#course-list li span {
    margin: 15px 0px;
}
#course-list li a {
    margin: 15px auto;
    text-align: center;
}

li span {
    margin: 0px 10px;
}

li .badge {
    position: absolute ;
    right: 10px ;
    padding: 12px ;
}

li #author {
    position: absolute;
    margin-right: 150px;
}


#course-list ul li .author {
    position: absolute;
    margin-right: 17%;
}

#course-list ul .title-header {
    margin-left: 13%;
    border-radius: 5px;
    color: black;
    background: yellowgreen;
}